<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- gripper.xacro -->
<xacro:macro name="gripper" params="prefix">
    <link name="${prefix}gripper">
        <visual>
            <geometry>
                <mesh filename="package://ur5/visual/GripperAssy.dae" scale="0.001 0.001 0.001"/>
                <!-- <box size="0.1 0.1 0.1"/> -->
            </geometry>
            <material name="gripper_material">
                <color rgba="0.5 0.5 0.5 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://ur5/collision/GripperAssy.stl" scale="0.001 0.001 0.001"/>
                <!-- <box size="0.1 0.1 0.1"/> -->
            </geometry>
        </collision>
    </link>

</xacro:macro>

</robot>